.users {
  padding: 20px 60px 0px;
  background-color: #f8f8f8;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
}

.home_users {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  max-width: 1170px;
  &-title {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 10px;
  }

  &-subtitle {
    font-family: "Nunito";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.87);
    margin-bottom: 16px;
  }

  &-button {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  &-list {
    width: calc(100% + 30px);
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    &-li {
      word-break: break-all;
      display: flex;
      justify-content: center;
      width: calc(100% / 3 - 30px);
      margin: 15px;
      height: 313px;
      border-radius: 10px;
      background-color: #ffffff;

      &-content {
        margin: 36px 30px 28px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &-photo {
          border-radius: 50%;
          margin-bottom: 15px;
        }

        &-name {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          line-height: 28px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
          margin-bottom: 4px;
        }
        &-position {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
        }
        &-phone {
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
        }
        &-email {
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-family: "Nunito";
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          color: rgba(0, 0, 0, 0.87);
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .users {
    padding: 0px 60px 0px;
  }

  .home_users {
    max-width: 1024px;

    &-button {
      margin-top: 34px;
    }
  }
}

@media (max-width: 992px) {
  .users {
    padding: 22px 24px 0px;
  }

  .home_users {
    max-width: 768px;

    &-button {
      margin-top: 41px;
    }

    &-subtitle {
      margin-bottom: 25px;
    }

    &-list {
      width: calc(100% + 24px);
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      &-li {
        word-break: break-all;
        display: flex;
        justify-content: center;
        width: calc(100% / 2 - 28px);
        margin: 8px;
        height: 313px;
        border-radius: 10px;
        background-color: #ffffff;

        &-content {
          margin: 36px 30px 28px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-photo {
            border-radius: 50%;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .users {
    padding: 22px 16px 0px;
  }

  .home_users {
    max-width: 768px;

    &-title {
      margin-top: 113px;
    }

    &-button {
      margin-top: 45px;
    }

    &-subtitle {
      margin-bottom: 25px;
    }

    &-list {
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      &-li {
        word-break: break-all;
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px 0px;
        height: 313px;
        border-radius: 10px;
        background-color: #ffffff;

        &-content {
          margin: 36px 30px 28px;
          display: flex;
          flex-direction: column;
          align-items: center;

          &-photo {
            border-radius: 50%;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
